name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'
        
    - name: Install dependencies
      run: npm install
      
    - name: Shared - Type Check
      run: npm run tsc -w @stock-assist/shared
      
    - name: API - Lint
      run: npm run lint -w @stock-assist/api
      
    - name: Web - Build
      run: npm run build -w @stock-assist/web
      env:
        NEXT_PUBLIC_API_URL: http://localhost:4000
